
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/SuperAdmin/Views/Shared/_Layout.cshtml";
}

@*<link href="~/Content/Dashboard/css/bootstrap.min.css" rel="stylesheet" />*@
<link href="~/Content/Dashboard/css/font-awesome.css" rel="stylesheet" />
<link href="~/Content/Dashboard/css/ui.jqgrid.css" rel="stylesheet" />
<link href="~/Content/Dashboard/css/ace.css" rel="stylesheet" />
@*<link rel="stylesheet" href="~/Content/Dashboard/css/chosen.css" />
    <link href="~/Content/Dashboard/css/chosen.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Dashboard/css/datepicker.min.css" />*@
<style type="text/css">
    .chosen-single {
        height: 33px !important;
        text-align: center;
    }
</style>
@*@using (@Html.BeginForm("Index", "Category", FormMethod.Post))
    {*@

<div class="col-sm-12">
    <div class="widget-box transparent">
        <div class="widget-header widget-header-flat">
            <h4 class="widget-title lighter">
                <i class="ace-icon fa fa-signal"></i>
                Payment Mode Details
            </h4>

            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">
            <div class="row" style="margin-top:3% !important">
                @*<div class="form-control">*@
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    @* <input type="text" id="form-field-1" placeholder="Username" class="col-xs-10 col-sm-5" />*@
                    @Html.TextBox("Payment Mode Name", null, new { @id = "txt_clientName", @class = "col-md-4", placeholder = "Payment Mode Name", style = "width:100%" })
                </div>
                @*</div>*@
            </div>
            <div class="row" style="margin-top:3% !important">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <input type="submit" value="Submit" name="submit_login" class="btn btn-info" onclick='' />

                    &nbsp; &nbsp; &nbsp;
                    <input type="reset" value="Reset" name="reset_login" class="btn btn-info" onclick='' />
                </div>
                <div class="col-md-4"></div>

            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="widget-box transparent">
        <div class="widget-header widget-header-flat">
            <h4 class="widget-title lighter">
                <i class="ace-icon fa fa-signal"></i>
                Data
            </h4>

            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">
            <table id="jqGrid_category"></table>
            <div id="jqControls_category"></div>
        </div><!-- /.widget-body -->
    </div>
</div>

<script src="~/Content/Dashboard/js/jquery-1.9.1.min.js"></script>
<script src="~/Content/Dashboard/js/ace-extra.min.js"></script>
<script src="~/Content/Dashboard/js/jquery-ui-1.10.0.js"></script>
<script src="~/Content/Dashboard/js/grid.locale-en.js"></script>
<script src="~/Content/Dashboard/js/jquery.jqGrid.min.js"></script>
@*<script src="~/Content/Dashboard/js/jquery.maskedinput.min.js"></script>*@
@*<script src="~/Content/Dashboard/js/jquery.autosize.min.js"></script>*@
@*<script src="~/Content/Dashboard/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/Dashboard/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/Dashboard/js/bootstrap-datetimepicker.min.js"></script>*@


<script type="text/javascript">
    $(document).ready(function () {

        $("#jqGrid_category").jqGrid({
            url: 'GetCategory',
            datatype: 'json',
            mtype: 'Get',
            colNames: ['CategoryId', 'CategoryName'],
            colModel: [
                { key: true, hidden: false, name: 'CategoryId', index: 'CategoryId', editable: true },
                { key: false, name: 'CategoryName', index: 'CategoryName', editable: true }
            ],
            pager: jQuery('#jqControls_category'),
            rowNum: 10,
            rowList: [10, 20, 30, 40, 50],
            height: '100%',
            viewrecords: true,
            caption: 'Client Records',
            emptyrecords: 'No Clients Records are Available to Display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                Id: "0"
            },
            autowidth: true,
            multiselect: false
        }).navGrid('#jqControls_category', { edit: true, add: false, del: true, search: false, refresh: true },
            {
                zIndex: 100,
                url: "EditCategory",
                closeOnEscape: true,
                closeAfterEdit: true,
                recreateForm: true,
                afterComplete: function (response) {
                    if (response.responseText) {
                        alert(response.responseText);
                    }
                }
            }, {},
            {
                zIndex: 100,
                url: "DeleteCategory",
                closeOnEscape: true,
                closeAfterDelete: true,
                recreateForm: true,
                msg: "Are you sure you want to delete Student... ? ",
                afterComplete: function (response) {
                    if (response.responseText) {
                        alert(response.responseText);
                    }
                }
            });
    });
</script>




