@model LMS_Datas.PayMode

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/SuperAdmin/Views/Shared/_Layout.cshtml";
}

@*<link href="~/Content/Dashboard/css/bootstrap.min.css" rel="stylesheet" />*@
<link href="~/Content/Dashboard/css/font-awesome.css" rel="stylesheet" />
<link href="~/Content/Dashboard/css/ui.jqgrid.css" rel="stylesheet" />
<link href="~/Content/Dashboard/css/ace.css" rel="stylesheet" />
@*<link rel="stylesheet" href="~/Content/Dashboard/css/chosen.css" />
    <link href="~/Content/Dashboard/css/chosen.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Dashboard/css/datepicker.min.css" />*@
<style type="text/css">
    .chosen-single {
        height: 33px !important;
        text-align: center;
    }
</style>
@using (Html.BeginForm("Index", "AddPaymentMode", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    if (ViewBag.alert == "Success")
    {
        <div class="alert alert-success fade in">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Success!</strong> Data Saved successfully.
        </div>
    }

    if (ViewBag.alert == "Error")
    {
        <div class="alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Error!</strong>  while submitting your data.
        </div>
    }
<div class="col-sm-12">
    <div class="widget-box transparent">
        <div class="widget-header widget-header-flat">
            <h4 class="widget-title lighter">
                <i class="ace-icon fa fa-signal"></i>
                Payment Mode Details
            </h4>

            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">
            <div class="row" style="margin-top:3% !important">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.PayMode1, null, new { @id = "txt_paymode", @class = "col-md-4", placeholder = "Enter PayMode", style = "width:100%", required = "required" })
                 </div>
                @*</div>*@
            </div>
            <div class="row" style="margin-top:3% !important">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <input type="submit" value="Submit" name="submit_login" class="btn btn-info" onclick='' />

                    &nbsp; &nbsp; &nbsp;
                    <input type="reset" value="Reset" name="reset_login" class="btn btn-info" onclick='' />
                </div>
                <div class="col-md-4"></div>

            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="widget-box transparent">
        <div class="widget-header widget-header-flat">
            <h4 class="widget-title lighter">
                <i class="ace-icon fa fa-signal"></i>
                Data
            </h4>

            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">
            <table id="jqGrid_payMode"></table>
            <div id="jqControls_payMode"></div>
        </div><!-- /.widget-body -->
    </div>
</div>
}
<script src="~/Content/Dashboard/js/jquery-1.9.1.min.js"></script>
<script src="~/Content/Dashboard/js/ace-extra.min.js"></script>
<script src="~/Content/Dashboard/js/grid.locale-en.js"></script>
<script src="~/Content/Dashboard/js/jquery.jqGrid.min.js"></script>
<script src="~/Content/Dashboard/js/jquery.maskedinput.min.js"></script>
<script src="~/Content/Dashboard/js/jquery.autosize.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#jqGrid_payMode").jqGrid({
            url: 'GetPayMent',
            datatype: 'json',
            mtype: 'Get',
            colNames: ['SNo.', 'PaymentName'],
            colModel: [
                { key: true, hidden: false, name: 'PayModeId', index: 'PayModeId', editable: true },
                { key: false, name: 'PayMode1', index: 'PayMode1', editable: true }
            ],
            pager: jQuery('#jqControls_payMode'),
            rowNum: 10,
            rowList: [10, 20, 30, 40, 50],
            height: '100%',
            viewrecords: true,
            caption: 'Client Records',
            emptyrecords: 'No PayMode Records are Available to Display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                Id: "0"
            },
            autowidth: true,
            multiselect: false
        }).navGrid('#jqControls_payMode', { edit: true, add: false, del: true, search: true,searchText:"Search Text", refresh: true },
            {
                zIndex: 100,
                url: "EditPayment",
                closeOnEscape: true,
                closeAfterEdit: true,
                recreateForm: true,
                afterComplete: function (response) {
                    if (response.responseText) {
                        alert(response.responseText);
                    }
                }
            }, {},
            {
                zIndex: 100,
                url: "DeletePayment",
                closeOnEscape: true,
                closeAfterDelete: true,
                recreateForm: true,
                msg: "Are you sure you want to delete PayMode... ? ",
                afterComplete: function (response) {
                    if (response.responseText) {
                        alert(response.responseText);
                    }
                }
            },
            {
                zIndex: 100,
                caption: "Search PayMode",
                sopt: ['cn']
            });
    });
</script>




